@media only screen and (max-width: 480px) {
  header {
    background-image: url(../images/bg_hero_mobile.svg);
    background-color: hsl(193, 100%, 96%);
    font-family: "Poppins", sans-serif;
    padding: 25px 5px 0 15px;
  }
  .headerlogo {
    height: 1%;
    width: 120px;
  }
  .headertitle {
    display: flex;
    flex-direction: column;
  }
  .tryitfree {
    margin: 0 10px 50px 0;
    padding: 6px 30px 6px 30px;
    font-size: 11px;
  }
  h1 {
    padding: 0 20px 0 20px;
    text-align: center;
    font-size: 25px;
  }

  .headerimg {
    width: 90%;
    padding-left: 5%;
    margin-top: 70px;
    margin-bottom: 40px;
  }
  .titleheader {
    margin-top: 20px;
    width: 100%;
  }
  .firstp {
    font-weight: 400;
    margin-bottom: 50px;
    font-size: 16px;
    text-align: center;
    padding: 5px 15px 0 15px;
    line-height: 1.5;
  }
  .gsff {
    margin: 0 15%;
  }

  /*Pop up*/
  .popup {
    position: absoulte !important;
    width: 80% !important;
    margin: 10px 10% !important;
    top: 10px;
  }
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div5 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .div6 {
    grid-area: 6 / 1 / 7 / 2;
  }
  .div7 {
    grid-area: 7 / 1 / 8 / 2;
  }
  .div8 {
    grid-area: 8 / 1 / 9 / 2;
  }

  /* Body */

  .flex {
    flex-direction: column-reverse;
  }
  .imgmain {
    width: 100%;
  }
  main {
    padding: 20px;
  }
  .textegauche {
    padding-right: 0;
  }

  .textemain {
    width: 100%;
    margin: 0;
  }

  .textemain h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 21px;
  }
  .textemain p {
    text-align: center;
    line-height: 1.5;
    font-size: 14.75px;
  }
  /*Block sur le Footer*/

  .blocksurfooter {
    width: 90%;
    margin: 0 5%;
    bottom: -105px;
  }
  .blocksurfooter h2 {
    font-size: 18px;
  }
  .boutongetstarted {
    font-size: 12px;
    padding: 20px 70px;
    margin: 0 24%;
  }

  /*Footer*/
  .flex {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
    padding: 3%;
  }

  .colonne1,
  .colonne2,
  .colonne3,
  .colonne4 {
    width: 94%;
  }

  .colonne1 {
    margin-top: 40%;
  }

  .logohuddlefooter {
    width: 50%;
  }

  .colonne2,
  .colonne3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .colonne4 div {
    width: 44%;
    margin: 0 27%;
  }
  .icone {
    padding: 6px 7px;
  }

  .copyright {
    margin-top: 10%;
    font-size: 14px;
    width: 86%;
    margin: 10% 7%;
  }
  .copyright i {
    font-size: 10px;
  }
}
