/*Bouton*/
.cursorstar {
  cursor: url("../images/star.png"), auto;
}
.star:hover {
  cursor: url("../images/star.png"), auto;
}

/*Survol*/
.picto {
  position: relative; /*les .picto-item deviennent référents*/
  cursor: help;
  border-radius: 50%;
}

/* on génère un élément :after lors du survol et du focus :*/

.picto:hover:after {
  content: attr(aria-label); /* on affiche aria-label */
  position: absolute;
  bottom: -30px;
  left: -90px;
  transform: translateX(-50%); /* on centre horizontalement  */
  z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
  white-space: nowrap; /* on interdit le retour à la ligne*/
  padding: 5px 14px;
  animation: changeColor 1s linear infinite;
  color: #fff;
  border-radius: 25px 0 25px 25px;
  font-size: 12px;
}

/* on génère un second élément en :before pour la flèche */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 20px;
  margin-top: 7px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: rgb(250, 0, 0);
  background: linear-gradient(
    133deg,
    rgba(250, 0, 0, 1) 0%,
    rgba(255, 166, 0, 1) 22%,
    rgba(255, 255, 0, 1) 38%,
    rgba(0, 147, 0, 1) 52%,
    rgba(24, 24, 255, 1) 64%,
    rgba(128, 0, 128, 1) 80%,
    rgba(255, 82, 191, 1) 100%
  );
  -webkit-transition: 0.4s;
  transition: 0.4s;
  content: "☆";
  color: white;
  font-size: 18px;
  text-align: center;
}

input:checked + .slider {
  background-color: hsl(322, 100%, 66%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(322, 100%, 66%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/**/

.shinybfond {
  animation: changefond 1s linear infinite;
}

@keyframes changefond {
  0% {
    background: rgba(255, 0, 0, 0.2);
  }
  14% {
    background: rgba(255, 166, 0, 0.2);
  }
  28% {
    background: rgba(255, 255, 0, 0.2);
  }
  42% {
    background: rgba(0, 128, 0, 0.2);
  }
  56% {
    background: rgba(0, 0, 255, 0.2);
  }
  70% {
    background: rgba(128, 0, 128, 0.2);
  }
  84% {
    background: hsla(322, 100%, 66%, 0.2);
  }
  100% {
    background: rgba(255, 0, 0, 0.2);
  }
}

.shinyboutton {
  animation: changeColor 1s linear infinite;
}

@keyframes changeColor {
  0% {
    background: rgb(255, 0, 0);
  }
  14% {
    background: rgb(255, 166, 0);
  }
  28% {
    background: rgb(255, 255, 0);
  }
  42% {
    background: rgb(0, 128, 0);
  }
  56% {
    background: rgb(0, 0, 255);
  }
  70% {
    background: rgb(128, 0, 128);
  }
  84% {
    background: hsl(322, 100%, 66%);
  }
  100% {
    background: rgb(255, 0, 0);
  }
}

.shinyshadow {
  animation: changeShadow 1s linear infinite;
}

@keyframes changeShadow {
  0% {
    box-shadow: 0px 0px 15px 1px rgba(255, 0, 0);
  }
  14% {
    box-shadow: 0px 0px 15px 1px rgba(255, 166, 0);
  }
  28% {
    box-shadow: 0px 0px 15px 1px rgba(255, 255, 0);
  }
  42% {
    box-shadow: 0px 0px 15px 1px green;
  }
  56% {
    box-shadow: 0px 0px 15px 1px blue;
  }
  70% {
    box-shadow: 0px 0px 15px 1px purple;
  }
  84% {
    box-shadow: 0px 0px 15px 1px hsl(322, 100%, 66%);
  }
  100% {
    box-shadow: 0px 0px 15px 1px rgba(255, 0, 0);
  }
}

.shinyborder {
  animation: shinyborder 1s linear infinite;
}

@keyframes shinyborder {
  0% {
    border: 2px solid rgba(255, 0, 0);
  }
  14% {
    border: 2px solid rgba(255, 166, 0);
  }
  28% {
    border: 2px solid rgba(255, 255, 0);
  }
  42% {
    border: 2px solid green;
  }
  56% {
    border: 2px solid blue;
  }
  70% {
    border: 2px solid purple;
  }
  84% {
    border: 2px solid hsl(322, 100%, 66%);
  }
  100% {
    border: 2px solid rgba(255, 0, 0);
  }
}

.shinyboutonform {
  animation: shinyboutonform 1s linear infinite;
}

@keyframes shinyboutonform {
  0% {
    accent-color: rgba(255, 0, 0);
  }
  14% {
    accent-color: rgba(255, 166, 0);
  }
  28% {
    accent-color: rgba(255, 255, 0);
  }
  42% {
    accent-color: green;
  }
  56% {
    accent-color: blue;
  }
  70% {
    accent-color: purple;
  }
  84% {
    accent-color: hsl(322, 100%, 66%);
  }
  100% {
    accent-color: rgba(255, 0, 0);
  }
}

/*Nyan Cat*/
.relative {
  position: relative;
}
.nyan {
  position: absolute;
  width: 100%;
  top: 80px;
  left: -1300px;
  z-index: 2;
}

.nyanmouv {
  animation: nyanmouvement 4s linear;
}
@keyframes nyanmouvement {
  from {
    top: 80px;
    left: -1300px;
  }
  to {
    top: 80px;
    left: 1500px;
  }
}

.nyanpetit {
  position: fixed;
  width: 20%;
  top: 540px;
  left: -400px;
  z-index: 2;
}

.nyanmouv2 {
  animation: nyanmouvementinfinit 6s linear infinite;
  animation-delay: 4s;
}

@keyframes nyanmouvementinfinit {
  from {
    top: 85vh;
    left: -300px;
  }
  to {
    top: 85vh;
    left: 1400px;
  }
}
